@{
    ViewData["Title"] = "Weather Report";
}
<h2>@ViewData["Title"]</h2>

<p><b>Click on WeatherReport to get weather details of cities</b>.</p>
<p><b>Click on Weather to get weather details of any City which you need</b>.</p>
